<footer class="bg-black ph3 pv4 white">

		<div id="example1"></div>


	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/abc/logo.png" alt="ABC logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .title }}</p>
			<p>{{ .text }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="socialMediaDiv">
				<ul class="mb3">
						{{ partial "social-icon" (dict "link" "https://www.facebook.com/aveirobusinesscenter" "svg" "icons-facebook") }}
						{{ partial "social-icon" (dict "link" "http://instagram.com/aveirobusinesscenter.oficial" "svg" "icons-instagram") }}
				</ul>
		</div>

		<div class="socialMediaDiv">
				<ul class="mb3">
						<li><a href="/" class="link">{{ .privacy }}</a></li>
				</ul>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<script src="/parallax_background.js"></script>
<!-- <script>PDFObject.embed("http://localhost:3000/img/ementa.pdf", "#example1");</script> -->

</body>

</html>
