<div id="jumbotronContent" class="pv6 pv6-l ph3 cover" style="background: url('{{.imageUrl}}');">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 bg-white black mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 bg-white black mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#jumbotronContent').mousemove(function (e) {
      var $container = $('body'),
        container_w = $container.width(),
        container_h = $container.height();

      var pos_x = event.pageX,
        pos_y = event.pageY,
        left = 0,
        top = 0;

      left = container_w / 2 - pos_x;
      top = container_h / 2 - pos_y;

      //$(this).css('background-position', amountMovedX + 'px ' + amountMovedY + 'px');
      TweenMax.to("#jumbotronContent", 8, {
        backgroundPosition: (left) + "px 0px",
        /* negative width of background image your animating - left top */
        ease: Linear.easeNone /* make sure you use Linear.easeNone so its smooth */
      });
    });
  });
</script>