<div class="section lookout-gray-96 pv6" id="modal-grid">
    <div class="container">
            {{ range .rows }}
            <div class="row">
            {{ range .items }}

        <div class="col l3 m6 s12 ">
          <a class="modal-trigger serviceLinks">
            <div class="white content-block z-depth-3 " >
              <div class="img-wrap">
                <img src="{{.image}}"/>
              </div>
              <div class="pad center white">
                <div class="caption">{{.heading}}</div>
              </div>
            </div>
          </a>
          <div id="{{.key}}" class="modal">
              <div class="modal-content">
                  <div class="modal-body">
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button>
                  {{if .carrousselSlides}}
                  <div id="{{.key}}Carousel" class="carousel slide pv4" data-ride="carousel" data-interval="false">
                      <ol class="carousel-indicators">
                          {{ range .carrousselSlides}}
                          <li data-target="#{{.key}}Carousel" data-slide-to="{{.nr}}"></li>
                          {{end}}
                      </ol>
                      <div class="carousel-inner">
                          {{ range .carrousselSlides}}
                          <div class="carousel-item {{if .first}}active{{end}}">
                              <img class="d-block w-100" src="{{.image}}" alt="First slide">
                              <div class="container">
                              <div class="carousel-caption text-left">
                                    <h2>{{.heading}}</h2>
                                    <p class="">{{.text}}</p>
                              </div>
                            </div>
                          </div>
                          {{end}}
                      </div>
                      <a class="carousel-control-prev" href="#{{.key}}Carousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#{{.key}}Carousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                  {{else}}
                  <div class="col s12 l5 hide-on-med-and-down">
                      <div class="img-wrap contentImage">
                          <img src="{{.image}}" />
                      </div>
                  </div>
                  <div class="col s12 l7">
                      <p>{{.content}}</p>
                  </div>
                  {{end}}
                  {{if .hasAvailableOffices}}
                  {{range .availableOffices}}
                  <div class="pv2 hashModalLink">
                      <h2><a href="{{ .url }}">{{.title}}</a></h2>
                  </div>
                  {{end}}
                  {{end}}
                  {{if .hasAvailableOffices}}
                  {{range .availableOffices}}
                  

                  <div id="{{.id}}" class="modal">
                        <div class="modal-content">
                            <div class="modal-body">
                          <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button>
                            {{if .carrousselSlides}}
                            <div id="availableOfficesCarousel" class="carousel slide pv4" data-ride="carousel" data-interval="false">
                                <ol class="carousel-indicators">
                                    {{ range .carrousselSlides}}
                                    <li data-target="#availableOfficesCarousel" data-slide-to="{{.nr}}"></li>
                                    {{end}}
                                </ol>
                                <div class="carousel-inner">
                                    {{ range .carrousselSlides}}
                                    <div class="carousel-item {{if .first}}active{{end}}">
                                        <img class="d-block w-100" src="{{.image}}" alt="First slide">
                                        <div class="container">
                                        <div class="carousel-caption text-left">
                                              <h2>{{.heading}}</h2>
                                              <p class="">{{.text}}</p>
                                        </div>
                                      </div>
                                    </div>
                                    {{end}}
                                </div>
                                <a class="carousel-control-prev" href="#availableOfficesCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#availableOfficesCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            {{else}}
                            <div class="col s12 l5 hide-on-med-and-down">
                                <div class="img-wrap contentImage">
                                    <img src="{{.image}}" />
                                </div>
                            </div>
                            <div class="col s12 l7">
                                <p>{{.content}}</p>
                            </div>
                            {{end}}
                            <div class="pv2 hashModalLink">
                                    <h2><a href="{{ .urlBack }}">{{.back}}</a></h2>
                                </div>
                        </div>
                      </div>
                    </div>
                  {{end}}
                  {{end}}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{end}}
    </div>
  </div>
  <script>
      $(document).ready(function () {
          /********EVENTS*********/
        $('#modal-grid .modal-trigger').each(function(index,item){
            $(this).click(function(e){
                $(this).siblings('.modal').modal({
                    opacity: .5,
                    close: function () {$(this).destroy()},
                    height: 50,
                    width: 50,
                    dismissable: true,
                    backdrop: 'static'
                    // ready: function() {
                    // console.log("modal ready")
                    // }
                });
                $(".modal-backdrop").click(function(e){$('.modal').modal('hide')});
            });
        });
        $('.modal-close').click(function(e){
            $('.modal').modal('hide');
        });

        $(document).bind('keyup', function(e) {
        if(e.which == 39){
            $('.carousel').carousel('next');
        }
        else if(e.which == 37){
            $('.carousel').carousel('prev');
        }
    });

        /********CALLS*********/
        hideCarouselIndicators();
        $('.carousel').on('slid', '', hideCarouselIndicators);  // on caroussel move
        $('.carousel').on('slid.bs.carousel', '', hideCarouselIndicators); // on carousel move
        if ($('#availableOffices')){
            var availableOffices = $('#availableOffices');
                $('#availableOffices').remove()
                $('.row').eq(0).append(availableOffices);
                $('#availableOffices').modal({
                    opacity: .5,
                    close: function () {$(this).destroy()},
                    height: 50,
                    width: 50,
                    dismissable: true,
                    backdrop: 'static'
                    // ready: function() {
                    // console.log("modal ready")
                    // }
                });
                $('#availableOffices').modal('hide');
                $(".modal-backdrop").click(function(e){$('.modal').modal('hide')});
        }
        
    $('.hashModalLink a').click(openModalFromNav);

        /********FUNCTIONS*********/

        function openModalFromNav(e){
            $('.modal').modal('hide')
            var query = $(e.delegateTarget).attr('href')
            if (query) {
                $(query).modal('show');
            }
            $(".modal-backdrop").click(function(e){$('.modal').modal('hide')});

        }

        function hideCarouselIndicators()                   
        {
            var $this = $('.carousel');
            if($('.carousel-inner .carousel-item:first').hasClass('active')) {
                $this.children('.carousel-control-prev').hide();
                $this.children('.carousel-control-next').show();
            } else if($('.carousel-inner .carousel-item:last').hasClass('active')) {
                $this.children('.carousel-control-prev').show();
                $this.children('.carousel-control-next').hide();
            } else {
                $this.children('.carousel-control-prev').show();
                $this.children('.carousel-control-next').show();
            } 
        }

    });
  </script>